@media (max-width: 1200px)
    .menu
        padding-right: 50px
        &_link
            font-size: 10px
    .promo
        &_header
            font-size: 50px
    .mobile
        &_items
            width: 300px
    .uber_x
        .advant_car
            margin: 0 auto
        .advant_car
            width: 100%
    .store
        &_menu img
            width: 70px
            height: 28px
    .link
        &-left
            width: 38px
            height: 38px
@media (max-width: 992px)
    .menu
        display: flex
        &_items
            padding-right: 20px
        &_link
            font-size: 10px
    .subheader
        &_link
            img
                width: 100%
        &_official
            font-size: 11px
        &_phone
            font-size: 19px
        &_btn
            width: 140px
            height: 42px
            margin-top: 21px
            font-size: 12px
    .advant
        &_main
            flex-direction: column
            align-items: center
        &_txt_blue
            margin-top: 20px
    .mobile
        &_items
            width: 218px
            &_subtitle
                font-size: 17px
    .uber_x 
        &_txt
            font-size: 13px
    .menu_link
        .col-6
            flex: 0 0 49%
        &_left
            .link_left
                width: 30px
                height: 30px
                margin: 0 13px 0 10px
    .store_menu
        margin: -93px 0 0 0 
        img
            width: 56px
            height: 25px
@media (max-width: 768px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        z-index: 1
        background-color: rgba(0,0,0, .8)
        transition: 0.6s all
        &_active
            left: 0
            height: 100%
        &_items
            padding-right: 0
            border: none
            margin: 10px 0
        &_link
            font-size: 20px
    .homburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: white
            margin-bottom: 2px
            transition: 0.5s all
        &_active
            span
                margin-bottom: -2px
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: translateY(3px) rotate(45deg)
    .xs-hidden
        display: none
    .xs-visited
        display: block
    .subheader
        &_phone
            display: block
            font-size: 17px
            font-weight: 400
            text-transform: uppercase
            color: #ffffff
            text-align: center
            margin-top: 10px
        &_btn
            display: block
            width: 150px
            height: 35px
            margin: 0 auto
            margin-top: 10px
    .promo
        &_header
            font-size: 35px
            line-height: 44px
        &_subheader
            font-size: 30px
            line-height: 31px
        &_btn
            width: 230px
            height: 58px
            font-size: 15px
    .advant
        &_txt_blue
            text-align: center
        &_txt_black
            text-align: center
    .uber_x
        .advant_txt_mini
            font-size: 11px
        img
            display: block
            margin: 0 auto
        .advant_car
            img
                width: 500px
                height: 370px
        &_txt
            font-size: 15px

    .condition_title
        text-align: center
    .advant_work
        font-size: 27px
    .menu_link
        .link_left
            margin: 0 7px
    .store_menu
        a
            img
                margin: -24px 5px 0px
@media (max-width: 575px)

    .menu_link
        &_left
            .link_left
                width: 26px
                height: 26px
                font-size: 13px
    .requir_first
        a
            margin-top: -150px
            font-size: 12px
    .requir_second
        a
            font-size: 9px
            margin-right: 10px
    .store_menu
        a
            img
                margin: -19px 4px 8px 4px 
                width: 45px
                height: 23px
    .mobile_items
        width: 250px
        height: 250px
        &_subtitle
            font-size: 15px
@media(max-width: 320px)
    nav
        height: 36px
    .homburger
        width: 22px
    .menu_active
        //left: 0
        height: 100%
    .menu_link
        font-size: 17px
    .subheader
        &_official
            display: none
        &_phone
            font-size: 12px
        &_btn
            width: 100px
            height: 30px
            font-size: 10px
        &_link
            margin-left: -14px
    .promo
       // background-position-x: 
    .advant_img_round
        width: 100px
        height: 100px
        img
            width: 70px 
    .advant_txt_blue
        font-size: 16px
    .advant_txt_black
        font-size: 16px
        margin: 0 25px 0 25px
    .uber_x .advant_car img
        width: 330px
        height: 360px
        margin: -39px
    .uber_x
        min-height: 720px
    .world
        background-position-x: 50%
    .menu_link_left .link_left
        width: 23px
        height: 23px
        font-size: 11px
        margin: 0 1px
    .requir_first a
        margin: -150px 21px 3px -20px
        font-size: 11px
        padding: 0px 12px 3px 0px
    .menu_link_roud
        width: 100px
        height: 2px
        margin: 0 auto
        margin-top: 15px
    .store_menu a img 
        margin: -13px 0px 4px 3px
        width: 38px
        height: 19px
    .requir_second 
        margin: -17px 0px 0px -60px



               



            
