body {
    background-color: khaki;
}
h2 {
    color:red;
    text-align: center;
    font-weight: 8;
    font-style: italic;
    text-decoration: line-through;
}
.chapter {
    color:#007ACC;
}
#begin {
    color: rgba(254.145.0 0.2)
}