* {
    box-sizing: border-box;
}
body {
    background-color: khaki;
}
h1 {
    text-align: center;
}
h2 {
    color:red;
    text-align: center;
    font-weight: 8;
    font-style: italic;
    text-decoration: line-through;
}
h3 {
    text-align: center;
}
.chapter {
    color:#007ACC;
}
#begin {
    color: rgba(254.145.0 0.2)
}
.box {
    /*display:inline-block;*/
    display: inline-block;
    vertical-align:middle;
    width: 300px;
    height: 300px;
    background-color:green;
    padding: 20px 10px;
    border: 5px solid black;
    margin: 20px;
    padding: 50px 0 0 0;
    /*border: 6px solid white;*/
    /*margin: 20px;*/
    /*z-index: 4;*/
}
img {
    display: block;
    margin: 0 auto;
    width: 500px;
    /*margin-top: 2%;
    margin-bottom: 2%;*/
}
nav {
    /*static,relative,absolute,fixed,inherit*/
    position: inherit;
    right: 300px;
    /*left,right,bottom,top*/
}
.red {
    background-color: red;
    /*z-index: 5;*/
}
.example {
    position: relative;
}

